In [1]:
import pandas as pd
import numpy as np

In [4]:
print "hi" #comment me

hi

In [15]:
print ("These are the data types in Building Permits\n" + str(bp_file.dtypes))

These are the data types in Building Permits
ID                         int64
PERMIT#                   object
  PERMIT_TYPE             object
         ISSUE_DATE       object
        ESTIMATED_COST    object
         AMOUNT_WAIVED    object
   AMOUNT_PAID            object
    TOTAL_FEE             object
STREET_NUMBER              int64
STREET DIRECTION          object
STREET_NAME               object
  SUFFIX                  object
WORK_DESCRIPTION          object
   PIN1                   object
   PIN2                   object
...
CONTRACTOR_14_ADDRESS     object
CONTRACTOR_14_CITY        object
CONTRACTOR_14_STATE       object
CONTRACTOR_14_ZIPCODE     object
CONTRACTOR_14_PHONE       object
CONTRACTOR_15_TYPE        object
CONTRACTOR_15_NAME        object
CONTRACTOR_15_ADDRESS     object
CONTRACTOR_15_CITY        object
CONTRACTOR_15_STATE       object
CONTRACTOR_15_ZIPCODE    float64
CONTRACTOR_15_PHONE      float64
LATITUDE                 float64
LONGITUDE                float64
LOCATION                  object
Length: 131, dtype: object

In [17]:
bp_file.head()

,ID,PERMIT#,PERMIT_TYPE,ISSUE_DATE,ESTIMATED_COST,AMOUNT_WAIVED,AMOUNT_PAID,TOTAL_FEE,STREET_NUMBER,STREET DIRECTION,...,CONTRACTOR_15_TYPE,CONTRACTOR_15_NAME,CONTRACTOR_15_ADDRESS,CONTRACTOR_15_CITY,CONTRACTOR_15_STATE,CONTRACTOR_15_ZIPCODE,CONTRACTOR_15_PHONE,LATITUDE,LONGITUDE,LOCATION
0,911610,EV000008,PERMIT - ELEVATOR EQUIPMENT,NaN,$0.00,$0.00,$52.50,$52.50,406,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.889204,-87.654722,"(41.88920399822612, -87.65472214051763)"
1,911617,EV000015,PERMIT - ELEVATOR EQUIPMENT,NaN,$0.00,$0.00,$52.50,$52.50,1664,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.912568,-87.662167,"(41.91256808104945, -87.66216724918101)"
2,911654,EV000074,PERMIT - ELEVATOR EQUIPMENT,NaN,$0.00,$0.00,$105.00,$105.00,536,W,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.948277,-87.644878,"(41.948276832456244, -87.64487812656894)"
3,911698,EV000113,PERMIT - ELEVATOR EQUIPMENT,NaN,$0.00,$0.00,$52.50,$52.50,3255,W,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.926405,-87.709663,"(41.92640488498051, -87.70966289254984)"
4,911713,EV000128,PERMIT - ELEVATOR EQUIPMENT,NaN,$0.00,$0.00,$52.50,$52.50,4177,S,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.817495,-87.698459,"(41.817494775576236, -87.69845934497967)"

In [18]:
bp_file.columns

Index([u'ID', u'PERMIT#', u'  PERMIT_TYPE', u'         ISSUE_DATE', u'        ESTIMATED_COST', u'         AMOUNT_WAIVED', u'   AMOUNT_PAID', u'    TOTAL_FEE', u'STREET_NUMBER', u'STREET DIRECTION', u'STREET_NAME', u'  SUFFIX', u'WORK_DESCRIPTION', u'   PIN1', u'   PIN2', u'  PIN3', u'  PIN4', u' PIN5', u' PIN6', u' PIN7', u' PIN8', u' PIN9', u'     PIN10', u'CONTRACTOR_1_TYPE', u'CONTRACTOR_1_NAME', u'CONTRACTOR_1_ADDRESS', u'CONTRACTOR_1_CITY', u'CONTRACTOR_1_STATE', u'CONTRACTOR_1_ZIPCODE', u'CONTRACTOR_1_PHONE', u'CONTRACTOR_2_TYPE', u'CONTRACTOR_2_NAME', u'CONTRACTOR_2_ADDRESS', u'CONTRACTOR_2_CITY', u'CONTRACTOR_2_STATE', u'CONTRACTOR_2_ZIPCODE', u'CONTRACTOR_2_PHONE', u'CONTRACTOR_3_TYPE', u'CONTRACTOR_3_NAME', u'CONTRACTOR_3_ADDRESS', u'CONTRACTOR_3_CITY', u'CONTRACTOR_3_STATE', u'CONTRACTOR_3_ZIPCODE', u'CONTRACTOR_3_PHONE', u'CONTRACTOR_4_TYPE', u'CONTRACTOR_4_NAME', u'CONTRACTOR_4_ADDRESS', u'CONTRACTOR_4_CITY', u'CONTRACTOR_4_STATE', u'CONTRACTOR_4_ZIPCODE', u'CONTRACTOR_4_PHONE', u'CONTRACTOR_5_TYPE', u'CONTRACTOR_5_NAME', u'CONTRACTOR_5_ADDRESS', u'CONTRACTOR_5_CITY', u'CONTRACTOR_5_STATE', u'CONTRACTOR_5_ZIPCODE', u'CONTRACTOR_5_PHONE', u'CONTRACTOR_6_TYPE', u'CONTRACTOR_6_NAME', u'CONTRACTOR_6_ADDRESS', u'CONTRACTOR_6_CITY', u'CONTRACTOR_6_STATE', u'CONTRACTOR_6_ZIPCODE', u'CONTRACTOR_6_PHONE', u'CONTRACTOR_7_TYPE', u'CONTRACTOR_7_NAME', u'CONTRACTOR_7_ADDRESS', u'CONTRACTOR_7_CITY', u'CONTRACTOR_7_STATE', u'CONTRACTOR_7_ZIPCODE', u'CONTRACTOR_7_PHONE', u'CONTRACTOR_8_TYPE', u'CONTRACTOR_8_NAME', u'CONTRACTOR_8_ADDRESS', u'CONTRACTOR_8_CITY', u'CONTRACTOR_8_STATE', u'CONTRACTOR_8_ZIPCODE', u'CONTRACTOR_8_PHONE', u'CONTRACTOR_9_TYPE', u'CONTRACTOR_9_NAME', u'CONTRACTOR_9_ADDRESS', u'CONTRACTOR_9_CITY', u'CONTRACTOR_9_STATE', u'CONTRACTOR_9_ZIPCODE', u'CONTRACTOR_9_PHONE', u'CONTRACTOR_10_TYPE', u'CONTRACTOR_10_NAME', u'CONTRACTOR_10_ADDRESS', u'CONTRACTOR_10_CITY', u'CONTRACTOR_10_STATE', u'CONTRACTOR_10_ZIPCODE', u'CONTRACTOR_10_PHONE', u'CONTRACTOR_11_TYPE', u'CONTRACTOR_11_NAME', u'CONTRACTOR_11_ADDRESS', u'CONTRACTOR_11_CITY', u'CONTRACTOR_11_STATE', u'CONTRACTOR_11_ZIPCODE', u'CONTRACTOR_11_PHONE', ...], dtype='object')

In [39]:
def removeSpace(file):
    new_names=[]
    for col_name in file.columns:
        col_name=str.lower(col_name)
        col_name = str.strip(col_name)
        str.replace(col_name,'\s','_')
        new_names[len(new_names):]=[col_name]
        
        
    file.columns = new_names

In [40]:
removeSpace(bp_file)
print bp_file.columns

Index([u'id', u'permit#', u'permit_type', u'issue_date', u'estimated_cost', u'amount_waived', u'amount_paid', u'total_fee', u'street_number', u'street direction', u'street_name', u'suffix', u'work_description', u'pin1', u'pin2', u'pin3', u'pin4', u'pin5', u'pin6', u'pin7', u'pin8', u'pin9', u'pin10', u'contractor_1_type', u'contractor_1_name', u'contractor_1_address', u'contractor_1_city', u'contractor_1_state', u'contractor_1_zipcode', u'contractor_1_phone', u'contractor_2_type', u'contractor_2_name', u'contractor_2_address', u'contractor_2_city', u'contractor_2_state', u'contractor_2_zipcode', u'contractor_2_phone', u'contractor_3_type', u'contractor_3_name', u'contractor_3_address', u'contractor_3_city', u'contractor_3_state', u'contractor_3_zipcode', u'contractor_3_phone', u'contractor_4_type', u'contractor_4_name', u'contractor_4_address', u'contractor_4_city', u'contractor_4_state', u'contractor_4_zipcode', u'contractor_4_phone', u'contractor_5_type', u'contractor_5_name', u'contractor_5_address', u'contractor_5_city', u'contractor_5_state', u'contractor_5_zipcode', u'contractor_5_phone', u'contractor_6_type', u'contractor_6_name', u'contractor_6_address', u'contractor_6_city', u'contractor_6_state', u'contractor_6_zipcode', u'contractor_6_phone', u'contractor_7_type', u'contractor_7_name', u'contractor_7_address', u'contractor_7_city', u'contractor_7_state', u'contractor_7_zipcode', u'contractor_7_phone', u'contractor_8_type', u'contractor_8_name', u'contractor_8_address', u'contractor_8_city', u'contractor_8_state', u'contractor_8_zipcode', u'contractor_8_phone', u'contractor_9_type', u'contractor_9_name', u'contractor_9_address', u'contractor_9_city', u'contractor_9_state', u'contractor_9_zipcode', u'contractor_9_phone', u'contractor_10_type', u'contractor_10_name', u'contractor_10_address', u'contractor_10_city', u'contractor_10_state', u'contractor_10_zipcode', u'contractor_10_phone', u'contractor_11_type', u'contractor_11_name', u'contractor_11_address', u'contractor_11_city', u'contractor_11_state', u'contractor_11_zipcode', u'contractor_11_phone', ...], dtype='object')

In [43]:
bp_file.issue_date = pd.to_datetime(bp_file.issue_date)
bp_file.issue_date.head()

0   NaT
1   NaT
2   NaT
3   NaT
4   NaT
Name: issue_date, dtype: datetime64[ns]

In [44]:
pd.value_counts(bp_file.id)

2355917    1
2634579    1
2134855    1
2157384    1
1637194    1
1635147    1
2149196    1
1622861    1
2108240    1
2630481    1
2112338    1
2626391    1
2431251    1
2653018    1
2518408    1
...
2636973    1
2245665    1
2108591    1
2147506    1
2336984    1
2381100    1
2157751    1
2476687    1
2133179    1
2143420    1
2301850    1
2491474    1
1791168    1
2311362    1
2378075    1
Length: 390864, dtype: int64

In [46]:
bp_file.describe()

,id,street_number,contractor_15_zipcode,contractor_15_phone,latitude,longitude
count,390864.000000,390864.000000,1,0,389725.000000,389725.000000
mean,2160625.416012,3494.807035,60641,NaN,41.869630,-87.673014
std,309811.615913,2982.947473,NaN,NaN,0.084681,0.059308
min,911610.000000,1.000000,60641,NaN,41.644702,-87.914534
25%,1881983.250000,1006.000000,60641,NaN,41.801236,-87.707729
50%,2181551.000000,2744.000000,60641,NaN,41.885822,-87.663094
75%,2437348.750000,5411.000000,60641,NaN,41.931697,-87.631885
max,2660888.000000,111601.000000,60641,NaN,42.022645,-87.524677

In [48]:
bp_file.groupby("latitude").mean()

,id,street_number,contractor_15_zipcode,contractor_15_phone,longitude
latitude,,,,,
41.644702,1659976.000000,244,NaN,NaN,-87.615151
41.644712,2055233.908046,440,NaN,NaN,-87.610545
41.644713,2032439.000000,304,NaN,NaN,-87.614148
41.644713,2298827.000000,430,NaN,NaN,-87.610893
41.644715,2117366.000000,306,NaN,NaN,-87.614075
41.644717,2153995.134454,612,NaN,NaN,-87.606793
41.644722,2013874.000000,826,NaN,NaN,-87.601401
41.644746,1974911.666667,1220,NaN,NaN,-87.592011
41.644798,2428705.395349,13707,NaN,NaN,-87.574634
41.645098,2203029.000000,13779,NaN,NaN,-87.614856
41.645528,2338712.666667,13733,NaN,NaN,-87.539888
41.645547,2187627.500000,13750,NaN,NaN,-87.615869
41.645671,1806449.000000,13744,NaN,NaN,-87.616035
41.645743,1973962.000000,13749,NaN,NaN,-87.615717
41.646033,2323624.000000,13735,NaN,NaN,-87.616104
41.646075,2381503.000000,13733,NaN,NaN,-87.616160
41.646272,2089645.000000,13700,NaN,NaN,-87.540225
41.646489,1875196.000000,13713,NaN,NaN,-87.616713
41.646662,2078135.000000,13685,NaN,NaN,-87.543379
41.646722,2486828.000000,13651,NaN,NaN,-87.542684
41.646885,1866683.500000,13673,NaN,NaN,-87.543661
41.646928,2622665.000000,337,NaN,NaN,-87.613624
41.646929,2522471.000000,311,NaN,NaN,-87.614480
41.647148,1862080.000000,330,NaN,NaN,-87.613821
41.647148,919076.000000,344,NaN,NaN,-87.613361
41.647149,1848028.000000,246,NaN,NaN,-87.615443
41.647365,1827735.000000,13647,NaN,NaN,-87.544277
41.647439,2494150.500000,13643,NaN,NaN,-87.544372
41.647440,1671191.000000,13625,NaN,NaN,-87.560384
41.647796,2045840.000000,13610,NaN,NaN,-87.540181
...,...,...,...,...,...
42.022312,2120971.500000,7736,NaN,NaN,-87.666980
42.022342,2440772.000000,1404,NaN,NaN,-87.667087
42.022344,2624524.000000,1408,NaN,NaN,-87.667249
42.022352,2460691.666667,1428,NaN,NaN,-87.668059
42.022361,2460217.500000,1518,NaN,NaN,-87.669066
42.022363,2536321.500000,1522,NaN,NaN,-87.669211
42.022369,2639443.000000,1536,NaN,NaN,-87.669718
42.022371,1949901.750000,1542,NaN,NaN,-87.669936
42.022372,1814571.000000,1546,NaN,NaN,-87.670081
42.022372,2184769.750000,1548,NaN,NaN,-87.670154
42.022409,2020055.000000,7742,NaN,NaN,-87.673211
42.022411,1778062.000000,1609,NaN,NaN,-87.671052
42.022412,2338119.500000,1625,NaN,NaN,-87.671568
42.022415,1898185.000000,7759,NaN,NaN,-87.666318
42.022417,2338087.000000,1647,NaN,NaN,-87.672322
42.022544,2254839.000000,7746,NaN,NaN,-87.666677
42.022580,2456731.000000,7750,NaN,NaN,-87.666555
42.022630,2214631.000000,1608,NaN,NaN,-87.671051
42.022631,2258303.000000,1616,NaN,NaN,-87.671309
42.022631,1724361.000000,1622,NaN,NaN,-87.671503
42.022632,2509988.000000,1624,NaN,NaN,-87.671567
42.022632,2220273.000000,1626,NaN,NaN,-87.671632
42.022634,2432020.500000,1634,NaN,NaN,-87.671940
42.022636,1697900.000000,1646,NaN,NaN,-87.672316
42.022638,2422669.000000,1658,NaN,NaN,-87.672691
42.022642,2083770.272727,1700,NaN,NaN,-87.673119
42.022643,1945289.000000,1702,NaN,NaN,-87.673196
42.022644,2422552.333333,1710,NaN,NaN,-87.673498
42.022645,2419406.000000,1716,NaN,NaN,-87.673726
42.022645,1881222.000000,1726,NaN,NaN,-87.674104

In [53]:
def remove_na(file):
    file= file.dropna(axis={0,1}, how='all')
    file.head()

In [62]:
remove_na(bp_file)
#bp_file.head()

In [60]:
bp_file.interpolate().plot()

In [71]:
bp_file= bp_file.dropna(axis=[0,1], how='all')
bp_file.head()

Empty DataFrame
Columns: []
Index: []

In [72]:
bp_file= bp_file.dropna(axis=[0,1], how='all')
bp_file.head()

Empty DataFrame
Columns: []
Index: []

In [73]:
bp_file = pd.read_csv("/Users/Elissa/dssg/project-inspector-gadget/Building_Permits.csv")

In [78]:
#bp_file= bp_file.dropna(axis=[0,1], thresh=100)
bp_file.head()

Empty DataFrame
Columns: []
Index: []

In [79]:
bp_file = pd.read_csv("/Users/Elissa/dssg/project-inspector-gadget/Building_Permits.csv")

In [80]:
bp_file.head()

,ID,PERMIT#,PERMIT_TYPE,ISSUE_DATE,ESTIMATED_COST,AMOUNT_WAIVED,AMOUNT_PAID,TOTAL_FEE,STREET_NUMBER,STREET DIRECTION,...,CONTRACTOR_15_TYPE,CONTRACTOR_15_NAME,CONTRACTOR_15_ADDRESS,CONTRACTOR_15_CITY,CONTRACTOR_15_STATE,CONTRACTOR_15_ZIPCODE,CONTRACTOR_15_PHONE,LATITUDE,LONGITUDE,LOCATION
0,911610,EV000008,PERMIT - ELEVATOR EQUIPMENT,NaN,$0.00,$0.00,$52.50,$52.50,406,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.889204,-87.654722,"(41.88920399822612, -87.65472214051763)"
1,911617,EV000015,PERMIT - ELEVATOR EQUIPMENT,NaN,$0.00,$0.00,$52.50,$52.50,1664,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.912568,-87.662167,"(41.91256808104945, -87.66216724918101)"
2,911654,EV000074,PERMIT - ELEVATOR EQUIPMENT,NaN,$0.00,$0.00,$105.00,$105.00,536,W,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.948277,-87.644878,"(41.948276832456244, -87.64487812656894)"
3,911698,EV000113,PERMIT - ELEVATOR EQUIPMENT,NaN,$0.00,$0.00,$52.50,$52.50,3255,W,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.926405,-87.709663,"(41.92640488498051, -87.70966289254984)"
4,911713,EV000128,PERMIT - ELEVATOR EQUIPMENT,NaN,$0.00,$0.00,$52.50,$52.50,4177,S,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.817495,-87.698459,"(41.817494775576236, -87.69845934497967)"

In [81]:
bp_file= bp_file.dropna(axis=[0,1], how="all")

In [82]:
bp_file.head()

,ID,PERMIT#,PERMIT_TYPE,ISSUE_DATE,ESTIMATED_COST,AMOUNT_WAIVED,AMOUNT_PAID,TOTAL_FEE,STREET_NUMBER,STREET DIRECTION,...,CONTRACTOR_14_PHONE,CONTRACTOR_15_TYPE,CONTRACTOR_15_NAME,CONTRACTOR_15_ADDRESS,CONTRACTOR_15_CITY,CONTRACTOR_15_STATE,CONTRACTOR_15_ZIPCODE,LATITUDE,LONGITUDE,LOCATION
0,911610,EV000008,PERMIT - ELEVATOR EQUIPMENT,NaN,$0.00,$0.00,$52.50,$52.50,406,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.889204,-87.654722,"(41.88920399822612, -87.65472214051763)"
1,911617,EV000015,PERMIT - ELEVATOR EQUIPMENT,NaN,$0.00,$0.00,$52.50,$52.50,1664,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.912568,-87.662167,"(41.91256808104945, -87.66216724918101)"
2,911654,EV000074,PERMIT - ELEVATOR EQUIPMENT,NaN,$0.00,$0.00,$105.00,$105.00,536,W,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.948277,-87.644878,"(41.948276832456244, -87.64487812656894)"
3,911698,EV000113,PERMIT - ELEVATOR EQUIPMENT,NaN,$0.00,$0.00,$52.50,$52.50,3255,W,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.926405,-87.709663,"(41.92640488498051, -87.70966289254984)"
4,911713,EV000128,PERMIT - ELEVATOR EQUIPMENT,NaN,$0.00,$0.00,$52.50,$52.50,4177,S,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.817495,-87.698459,"(41.817494775576236, -87.69845934497967)"

In [87]:
bp_file= bp_file.dropna(axis=[0,1], thresh=40)
removeSpace(bp_file)
bp_file.head()

,id,permit#,permit_type,issue_date,estimated_cost,amount_waived,amount_paid,total_fee,street_number,street direction,...,contractor_11_phone,contractor_12_type,contractor_12_name,contractor_12_address,contractor_12_city,contractor_12_state,contractor_12_zipcode,latitude,longitude,location
467,1358358,B20414313,PERMIT - NEW CONSTRUCTION,05/18/2006,$2000000.00,$0.00,$18726.95,$18726.95,321,S,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.876481,-87.715602,"(41.8764808798513, -87.71560203300689)"
476,1378485,100002267,PERMIT - RENOVATION/ALTERATION,03/10/2006,$45000.00,$0.00,$1945.00,$1945.00,2421,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.925857,-87.664452,"(41.92585684158289, -87.66445154091303)"
480,1381541,100004342,PERMIT - RENOVATION/ALTERATION,09/29/2005,$38000.00,$0.00,$1560.00,$1560.00,2525,W,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.910173,-87.690678,"(41.91017264385976, -87.69067799640872)"
495,1392510,100010675,PERMIT - NEW CONSTRUCTION,09/30/2005,$800000.00,$0.00,$13475.14,$13475.14,693,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.894941,-87.649976,"(41.89494059376751, -87.64997609685338)"
500,1393747,100011654,PERMIT - NEW CONSTRUCTION,06/09/2006,$450000.00,$0.00,$8003.98,$8003.98,3637,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.948342,-87.654216,"(41.94834184745331, -87.65421574924672)"

In [92]:
bp_file.sort_index(axis=1, ascending=False)
bp_file.groupby("permit_type").describe()

                                                  id      latitude  \
permit_type
PERMIT - EASY PERMIT PROCESS   count    12398.000000  12362.000000
                               mean   2239580.565898     41.872826
                               std     277411.088461      0.081466
                               min    1631654.000000     41.648034
                               25%    2030754.000000     41.805878
                               50%    2252920.000000     41.891114
                               75%    2488714.000000     41.931647
                               max    2660859.000000     42.022645
PERMIT - ELECTRIC WIRING       count      171.000000    171.000000
                               mean   2344623.017544     41.902194
                               std     244473.956561      0.038029
                               min    1648495.000000     41.774379
                               25%    2181232.500000     41.884606
                               50%    2388227.000000     41.895585
                               75%    2524884.000000     41.907800
                               max    2659993.000000     42.019287
PERMIT - ELEVATOR EQUIPMENT    count       13.000000     13.000000
                               mean   1784027.000000     41.913713
                               std     153059.804522      0.051593
                               min    1653052.000000     41.838141
                               25%    1694335.000000     41.887469
                               50%    1769358.000000     41.898465
                               75%    1783210.000000     41.941080
                               max    2248622.000000     42.019287
PERMIT - FOR EXTENSION OF PMT  count       20.000000     20.000000
                               mean   1840212.850000     41.883573
                               std      49174.752160      0.088078
                               min    1784330.000000     41.693591
                               25%    1810337.250000     41.816878
                               50%    1828003.500000     41.888869
...                                              ...           ...
PERMIT - RENOVATION/ALTERATION std     301040.574380      0.073391
                               min    1378485.000000     41.644717
                               25%    1893060.500000     41.856858
                               50%    2191642.500000     41.889038
                               75%    2434379.500000     41.931165
                               max    2660428.000000     42.022644
PERMIT - SCAFFOLDING           count      148.000000    148.000000
                               mean   2266617.283784     41.906027
                               std     170289.800028      0.042928
                               min    1788346.000000     41.763235
                               25%    2180531.750000     41.884642
                               50%    2297329.500000     41.899627
                               75%    2366474.250000     41.921132
                               max    2640511.000000     42.016879
PERMIT - SIGNS                 count      417.000000    417.000000
                               mean   2149261.302158     41.890323
                               std     274846.546650      0.039096
                               min    1645683.000000     41.714554
                               25%    1884105.000000     41.881589
                               50%    2134402.000000     41.886373
                               75%    2422446.000000     41.900097
                               max    2642009.000000     42.019287
PERMIT - WRECKING/DEMOLITION   count        7.000000      7.000000
                               mean   1822022.000000     41.881582
                               std     254799.225204      0.083528
                               min    1563936.000000     41.767494
                               25%    1637477.500000     41.814693
                               50%    1666787.000000     41.925965
                               75%    2041025.000000     41.931981
                               max    2166426.000000     41.984271

                                         longitude  street_number
permit_type
PERMIT - EASY PERMIT PROCESS   count  12362.000000   12398.000000
                               mean     -87.670125    3435.804243
                               std        0.054998    2869.067300
                               min      -87.914428       1.000000
                               25%      -87.702304    1040.000000
                               50%      -87.661723    2650.000000
                               75%      -87.631010    5345.000000
                               max      -87.524793   13601.000000
PERMIT - ELECTRIC WIRING       count    171.000000     171.000000
                               mean     -87.639942    1234.356725
                               std        0.035431    1572.506387
                               min      -87.836841       1.000000
                               25%      -87.640514     221.500000
                               50%      -87.627700     600.000000
                               75%      -87.624126    1408.500000
                               max      -87.586674    6625.000000
PERMIT - ELEVATOR EQUIPMENT    count     13.000000      13.000000
                               mean     -87.642516    1393.307692
                               std        0.024074    1649.742878
                               min      -87.701599      30.000000
                               25%      -87.648656     400.000000
                               50%      -87.636605     828.000000
                               75%      -87.626333    1791.000000
                               max      -87.617560    6030.000000
PERMIT - FOR EXTENSION OF PMT  count     20.000000      20.000000
                               mean     -87.687679    4378.800000
                               std        0.059219    2550.941531
                               min      -87.789381     500.000000
                               25%      -87.755429    2401.250000
                               50%      -87.684555    4926.500000
...                                            ...            ...
PERMIT - RENOVATION/ALTERATION std        0.054047    2723.095179
                               min      -87.914436       1.000000
                               25%      -87.697580     550.000000
                               50%      -87.655734    2056.000000
                               75%      -87.630801    4610.000000
                               max      -87.525094   13749.000000
PERMIT - SCAFFOLDING           count    148.000000     148.000000
                               mean     -87.636442    1683.195946
                               std        0.023654    2017.432023
                               min      -87.790577       1.000000
                               25%      -87.644034     332.250000
                               50%      -87.632183     909.500000
                               75%      -87.626984    1624.000000
                               max      -87.559617    7423.000000
PERMIT - SIGNS                 count    417.000000     417.000000
                               mean     -87.643081    1276.712230
                               std        0.031956    1795.182396
                               min      -87.820686       1.000000
                               25%      -87.650259     135.000000
                               50%      -87.632167     600.000000
                               75%      -87.626054    1550.000000
                               max      -87.575487    9831.000000
PERMIT - WRECKING/DEMOLITION   count      7.000000       7.000000
                               mean     -87.680151    4230.142857
                               std        0.062387    2644.988811
                               min      -87.820686    1130.000000
                               25%      -87.664391    2420.500000
                               50%      -87.657137    2745.000000
                               75%      -87.653905    6576.500000
                               max      -87.646643    7742.000000

[88 rows x 4 columns]